@{
    ViewData["Title"] = "Startsidan";
}

<div class="text-center">
    <h1>@ViewData["Message"]</h1>
    <p>Här är en enkel sida skapad för att dela med sig av bra skivor. Har du någon skiva du vill dela med dig av? Lägg till i vår lista med hjälp av formuläret.
        Musik skall delas och upplevas! Kanske du finner någon ny favorit bland alla skivor på listan? Alla får addera vad de vill men vi ser helst att det först och fräömst är vinylskivor som
        det tipsas om då detta är en utdöende art som behöver all praise som finns i världen och världsrymden. Lår det inte bli ett <em>Rock'n'roll suicide</em><strong>-David Bowie</strong>
    </p>
    <h2>Månadens skiva är: @ViewBag.text</h2>
</div>
